<ion-view view-title="About">
  <ion-content>
    <h3>Smart Alarm v1.0 </h3>

<div class="card">
  <div class="item item-text-wrap">
   Smart Alarm notifies you upon reaching your destination. A boon for frequent long distance commuters on public transport. New version with some new features will be available soon. 
<p>Copyright 	&#169; 2016 by Tejas. All Rights Reserved.</p>
  </div>
</div>
    <div class="list card">
  <div class="item item-avatar">
    <img src="../img/7275.jpg">
    <h2>Tejas Gujjar</h2>
    <p>January 11, 2016</p>
  </div>

  <div class="item item-body">
    <label class="item item-input">
		  <span class="input-label ">Name</span>
		   <span>Tejas Gujjar</span>
	  </label>
	  <label class="item item-input">
		  <span class="input-label ">Email</span>
		  <span id="currentStatus">tejasgujjar@gmail.com</span>
	  </label>
  </div>

</div>
  </ion-content>
</ion-view>
